@use "../../../../../yii2-skeleton/resources/assets/src/css/shared/breakpoints" as *;

.anakin-logo-wrap {
  min-height: 2.5rem;
}

.anakin-logo {
  height: 2.5rem;
  aspect-ratio: 6 / 5;
}

.anakin-navbar {
  @include media-breakpoint-down(sm) {
    width: 100%;
    background-color: transparent;
    justify-content: space-between;
  }

  @include media-breakpoint-up(md) {
    .anakin-logo {
      display: none;
    }
  }
}

.anakin-aside {
  .anakin-logo-wrap {
    display: none;

    @include media-breakpoint-up(sm) {
      display: block;
      padding-inline: 1rem;
    }
  }

  .aside-main {
    @include media-breakpoint-up(sm) {
      padding-top: calc(2rem + 1px);
    }
  }
}