.cke_editable {
  h1, h2, h3, h4, h5, .lead {
    font-weight: $font-weight-base !important;
    margin-bottom: 1rem;
  }

  .lead{
    font-size: 22px;
  }

  h1{
    font-size: 20px;
  }

  h2{
    font-size: 18px;
  }

  h3{
    font-size: 16px;
  }

  h4{
    font-size: 15px;
  }

  h5{
    font-size: 14px;
  }
}